<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-info btn-md" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-md" %>
	</p>
</div>